# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 745cfc9481c9ec8da04f6c30e0b26af6f0835f9cf68c146b4ff95c045a939cbdb6a1fd8f341146af7c578b13e4c58a45ab858fd5e39c794d3d83d20f9cf634fc

test:
  secret_key_base: 607194baeccd25a8a70c9f2512d0b8a73e9899a7fb1386136fea74df38cc001623581d63268564c459dd24ae96ffd2c1e07d3701ec50e62c28b8ceaf31ee30ba

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
